<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DRM_ERROR</key>
	<dict>
		<key>code</key>
		<integer>100000</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>PLAYBACK_ERROR</string>
	</dict>
	<key>PLAYBACK_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101000</integer>
		<key>type</key>
		<string>FATAL_ERROR</string>
	</dict>
	<key>NATIVE_PLAYBACK_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101001</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>MANIFEST_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101002</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>BOOTSTRAP_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101003</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>CONTENT_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101005</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>ALL_DOWNLOAD_RETRIES_FAIL</key>
	<dict>
		<key>code</key>
		<integer>101005</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>SECURITY_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101006</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>CORRUPTED_DATA</key>
	<dict>
		<key>code</key>
		<integer>101007</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>SEEK_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101008</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>PAUSE_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101009</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>DRM_ADDITIONAL_HEADER_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101010</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>PLAYBACK_RATE_CHANGE_FAIL</key>
	<dict>
		<key>code</key>
		<integer>101100</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>AUDIO_TRACK_CHANGE_FAIL</key>
	<dict>
		<key>code</key>
		<integer>101101</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>PERIOD_INFO_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101102</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>RETRIEVE_TIME_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101103</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>GET_QOS_DATA_ERROR</key>
	<dict>
		<key>code</key>
		<integer>101104</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>INVALID_MEDIA_PLAYER_ITEM</key>
	<dict>
		<key>code</key>
		<integer>102000</integer>
		<key>type</key>
		<string>FATAL_ERROR</string>
	</dict>
	<key>NOT_SUPPORTED_RESOURCE</key>
	<dict>
		<key>code</key>
		<integer>102001</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>RESOURCE_LOAD_ERROR</key>
	<dict>
		<key>code</key>
		<integer>102100</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>RESOURCE_PLACEMENT_FAILED</key>
	<dict>
		<key>code</key>
		<integer>102101</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>MANIFEST_DOWNLOAD_FAILED</key>
	<dict>
		<key>code</key>
		<integer>103000</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>DOWNLOAD_TIMEOUT</key>
	<dict>
		<key>code</key>
		<integer>103001</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>DOWNLOAD_IO_ERROR</key>
	<dict>
		<key>code</key>
		<integer>103002</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>BOOTSTRAP_DOWNLOAD_FAIL</key>
	<dict>
		<key>code</key>
		<integer>103005</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>CONTENT_FILE_DOWNLOAD_FAIL</key>
	<dict>
		<key>code</key>
		<integer>103007</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>AD_RESOLVER_FAIL</key>
	<dict>
		<key>code</key>
		<integer>201000</integer>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>AD_RESOLVER_RETURNED_NO_ADS</key>
	<dict>
		<key>code</key>
		<integer>201003</integer>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>AD_RESOLVER_METADATA_INVALID</key>
	<dict>
		<key>code</key>
		<integer>104001</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_NOT_INSERTED</string>
	</dict>
	<key>AD_RESOLVER_INITIALIZATION_FAIL</key>
	<dict>
		<key>code</key>
		<integer>104002</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_NOT_INSERTED</string>
	</dict>
	<key>AD_RESOLVER_RESOLVE_FAIL</key>
	<dict>
		<key>code</key>
		<integer>104003</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_NOT_INSERTED</string>
	</dict>
	<key>AD_RESOLVER_SERVER_UNREACHABLE</key>
	<dict>
		<key>code</key>
		<integer>104004</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_NOT_INSERTED</string>
	</dict>
	<key>AD_INSERTION_FAIL</key>
	<dict>
		<key>code</key>
		<integer>104005</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_NOT_INSERTED</string>
	</dict>
	<key>AD_UNREACHABLE</key>
	<dict>
		<key>code</key>
		<integer>104006</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>AD_TRACKING_FAIL</key>
	<dict>
		<key>code</key>
		<integer>104007</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>AD_TRACKING_SERVER_UNREACHABLE</key>
	<dict>
		<key>code</key>
		<integer>104008</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>NATIVE_ERROR</key>
	<dict>
		<key>code</key>
		<integer>106000</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>ENGINE_CREATION_ERROR</key>
	<dict>
		<key>code</key>
		<integer>106001</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>ENGINE_RELEASE_ERROR</key>
	<dict>
		<key>code</key>
		<integer>106002</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>ENGINE_RESOURCES_RELEASE_ERROR</key>
	<dict>
		<key>code</key>
		<integer>106003</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>ENGINE_RESET_ERROR</key>
	<dict>
		<key>code</key>
		<integer>106004</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>ENGINE_SET_VIEW_ERROR</key>
	<dict>
		<key>code</key>
		<integer>106005</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>SET_VOLUME_ERROR</key>
	<dict>
		<key>code</key>
		<integer>107000</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>SET_BUFFER_TIME_ERROR</key>
	<dict>
		<key>code</key>
		<integer>107001</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>SET_CC_VISIBILITY_ERROR</key>
	<dict>
		<key>code</key>
		<integer>107002</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>SET_CC_STYLING_ERROR</key>
	<dict>
		<key>code</key>
		<integer>107003</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>SET_ABR_PARAMETERS_ERROR</key>
	<dict>
		<key>code</key>
		<integer>107004</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>AD_HLS_VERSION_INCOMPATIBLE</key>
	<dict>
		<key>code</key>
		<integer>170000</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_INSERTION_FAIL</string>
	</dict>
	<key>AD_TARGET_DURATION_INCOMPATIBLE</key>
	<dict>
		<key>code</key>
		<integer>170011</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_INSERTION_FAIL</string>
	</dict>
	<key>ARGUMENT_ERROR</key>
	<dict>
		<key>code</key>
		<integer>170001</integer>
		<key>type</key>
		<string>FATAL_ERROR</string>
	</dict>
	<key>M3U8_PARSER_ERROR</key>
	<dict>
		<key>code</key>
		<integer>170002</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>WEBVTT_PARSER_ERROR</key>
	<dict>
		<key>code</key>
		<integer>170003</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>HLS_SEGMENT_ERROR</key>
	<dict>
		<key>code</key>
		<integer>170004</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>MBR_MEDIASEQUENCE_OFFSYNC</key>
	<dict>
		<key>code</key>
		<integer>170005</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>MISSING_FILE_ERROR</key>
	<dict>
		<key>code</key>
		<integer>170006</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>AD_EMPTY_RESPONSE</key>
	<dict>
		<key>code</key>
		<integer>170007</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_INSERTION_FAIL</string>
	</dict>
	<key>AD_TIMEOUT</key>
	<dict>
		<key>code</key>
		<integer>170008</integer>
		<key>type</key>
		<string>ERROR</string>
		<key>inner</key>
		<string>AD_INSERTION_FAIL</string>
	</dict>
	<key>SUBTITLES_TRACK_CHANGE_FAIL</key>
	<dict>
		<key>code</key>
		<integer>170009</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>PLAYBACK_OPERATION_FAIL</key>
	<dict>
		<key>code</key>
		<integer>200000</integer>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>PLAYBACK_STALLED</key>
	<dict>
		<key>code</key>
		<real>200001</real>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>NATIVE_WARNING</key>
	<dict>
		<key>code</key>
		<integer>209100</integer>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>GENERIC_WARNING</key>
	<dict>
		<key>code</key>
		<integer>299999</integer>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>PLAYER_NOT_READY</key>
	<dict>
		<key>code</key>
		<integer>270000</integer>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>AD_NOT_INSERTED</key>
	<dict>
		<key>code</key>
		<integer>270001</integer>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>AD_HLS_AUDIOONLY_MISSING</key>
	<dict>
		<key>code</key>
		<integer>270002</integer>
		<key>type</key>
		<string>WARNING</string>
		<key>inner</key>
		<string>AD_NOT_INSERTED</string>
	</dict>
	<key>AD_HLS_MATCHING_BITRATE_MISSING</key>
	<dict>
		<key>code</key>
		<integer>270003</integer>
		<key>type</key>
		<string>WARNING</string>
		<key>inner</key>
		<string>AD_NOT_INSERTED</string>
	</dict>
	<key>AVASSET_FAILED_TO_CREATE</key>
	<dict>
		<key>code</key>
		<integer>270005</integer>
		<key>type</key>
		<string>WARNING</string>
		<key>inner</key>
		<string>PLAYBACK_ERROR</string>
	</dict>
	<key>NETWORK_ERROR</key>
	<dict>
		<key>code</key>
		<integer>270007</integer>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>PLAYBACK_START</key>
	<dict>
		<key>code</key>
		<integer>300000</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>PLAYBACK_COMPLETE</key>
	<dict>
		<key>code</key>
		<integer>300001</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>SEEK_START</key>
	<dict>
		<key>code</key>
		<integer>300002</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>SEEK_COMPLETE</key>
	<dict>
		<key>code</key>
		<integer>300003</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>CONTENT_CHANGE</key>
	<dict>
		<key>code</key>
		<integer>300004</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>PLAYER_STATE_CHANGE</key>
	<dict>
		<key>code</key>
		<integer>300005</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>LOAD_INFO_AVAILABLE</key>
	<dict>
		<key>code</key>
		<integer>300100</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>VIDEO_SIZE_CHANGED</key>
	<dict>
		<key>code</key>
		<integer>300101</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>PLAYBACK_RATE_CHANGE</key>
	<dict>
		<key>code</key>
		<integer>301000</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>BITRATE_CHANGE</key>
	<dict>
		<key>code</key>
		<integer>302000</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>TIMELINE_CHANGE</key>
	<dict>
		<key>code</key>
		<integer>303000</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>AD_BREAK_PLACEMENT_COMPLETE</key>
	<dict>
		<key>code</key>
		<integer>303001</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>AD_BREAK_START</key>
	<dict>
		<key>code</key>
		<integer>303002</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>AD_BREAK_COMPLETE</key>
	<dict>
		<key>code</key>
		<integer>303003</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>AD_START</key>
	<dict>
		<key>code</key>
		<integer>303004</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>AD_COMPLETE</key>
	<dict>
		<key>code</key>
		<integer>303005</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>AD_PROGRESS</key>
	<dict>
		<key>code</key>
		<integer>303006</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>AD_ASSET_FAILED_TO_LOAD</key>
	<dict>
		<key>code</key>
		<real>201002</real>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>AUDIO_TRACK_CHANGE</key>
	<dict>
		<key>code</key>
		<integer>304000</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>DRM_METADATA_AVAILABLE</key>
	<dict>
		<key>code</key>
		<integer>305000</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>SUBTITLES_TRACK_CHANGE</key>
	<dict>
		<key>code</key>
		<integer>307000</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>AD_PARAMETERS_NOT_PROVIDED</key>
	<dict>
		<key>code</key>
		<integer>370000</integer>
		<key>type</key>
		<string>INFO</string>
	</dict>
	<key>BACKGROUND_MANIFEST_WARNING</key>
	<dict>
		<key>code</key>
		<integer>204000</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>INVALID_SEEK_WARNING</key>
	<dict>
		<key>code</key>
		<integer>204001</integer>
		<key>type</key>
		<string>ERROR</string>
	</dict>
	<key>UNDEFINED_TIME_RANGES</key>
	<dict>
		<key>code</key>
		<real>210000</real>
		<key>type</key>
		<string>WARNING</string>
	</dict>
	<key>INVALID_TIME_RANGES</key>
	<dict>
		<key>code</key>
		<real>204001</real>
		<key>type</key>
		<string>WARNING</string>
	</dict>
</dict>
</plist>
