<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoStartupRules</key>
	<array>
		<dict>
			<key>Rule</key>
			<string>2.1</string>
			<key>UserSetting</key>
			<integer>1</integer>
			<key>ConnectionType</key>
			<integer>1</integer>
			<key>VideoIsPlayed</key>
			<true/>
			<key>ErrorMessage</key>
			<string></string>
		</dict>
		<dict>
			<key>Rule</key>
			<string>2.2</string>
			<key>UserSetting</key>
			<integer>1</integer>
			<key>ConnectionType</key>
			<integer>2</integer>
			<key>VideoIsPlayed</key>
			<false/>
			<key>ErrorMessage</key>
			<string>ERM-20</string>
		</dict>
		<dict>
			<key>Rule</key>
			<string>2.3</string>
			<key>UserSetting</key>
			<integer>2</integer>
			<key>ConnectionType</key>
			<integer>2</integer>
			<key>VideoIsPlayed</key>
			<true/>
			<key>ErrorMessage</key>
			<string></string>
		</dict>
		<dict>
			<key>Rule</key>
			<string>2.4</string>
			<key>UserSetting</key>
			<integer>0</integer>
			<key>ConnectionType</key>
			<integer>1</integer>
			<key>VideoIsPlayed</key>
			<true/>
			<key>ErrorMessage</key>
			<string></string>
		</dict>
		<dict>
			<key>Rule</key>
			<string>2.5</string>
			<key>UserSetting</key>
			<integer>0</integer>
			<key>ConnectionType</key>
			<integer>2</integer>
			<key>VideoIsPlayed</key>
			<false/>
			<key>ErrorMessage</key>
			<string>ERM-51</string>
		</dict>
	</array>
</dict>
</plist>
